# <center>Assignment #1. Fall 2019
## <center>Exploratory data analysis of Olympic games with Pandas
### Solutions by [captainspockears](https://github.com/Captainspockears/). 
Kindly don't copy and only refer these solutions if you are really stuck. Try to understand how the problems have been implemented. If you find any solutions to be wrong, kindly fork the repo, correct it and ask for a pull request.

### Assignment 
__There are ten questions about 120 years of Olympic history in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU).__

Download the file `athlete_events.csv` from [here](https://drive.google.com/file/d/1f5v6Z2ayc7h698FG_98wP5x1Y2zZQeox/view?usp=sharing) (scraped by [rgriffin](https://www.randigriffin.com/) from www.sports-reference.com). The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [2]:
import pandas as pd

In [3]:
# Change the path to the dataset file if needed. 
PATH = '../../data/athlete_events.csv' # make sure you've placed athlete_events.csv in the data folder in the mlcourse.ai
                                       # directory

In [4]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1992 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 16 and 15
- 14 and 13 
- 13 and 11
- 11 and 12

In [9]:
# 11 and 12
y_male = data[(data['Sex']=='M') & (data['Year']==1992)]['Age'].min()
print(y_male)
y_female = data[(data['Sex']=='F') & (data['Year']==1992)]['Age'].min()
print(y_female)

11.0
12.0

__2. What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0.2
- 1.5 
- 2.5
- 7.7

In [13]:
# 2.5
# no. of male basketball players
basketball = data[(data['Sex']=='M')&(data['Sport']=='Basketball')&(data['Year']==2012)]['Name'].count()
# no. of total male participants
total = data[(data['Sex']=='M')&(data['Year']==2012)]['Name'].drop_duplicates().count()
percentage = (basketball/total)*100
print(percentage)

2.4581768521679757

__3. What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 171.8 and 6.5
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [14]:
# 171.8 and 6.5
meanvalue = data[(data['Sex']=='F')&(data['Sport']=='Tennis')&(data['Year']==2000)]['Height'].mean()
print(meanvalue)
stdvalue = data[(data['Sex']=='F')&(data['Sport']=='Tennis')&(data['Year']==2000)]['Height'].std()
print(stdvalue)

171.792
6.4586725890776675

__4. Find a sportsman who participated in the 2006 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [12]:
# Skeleton
boi = data[(data['Year']==2006)].sort_values(by='Weight', ascending=False)[:1]['Sport']
print(boi)

8102    Skeleton
Name: Sport, dtype: object

__5. How many times did John Aalberg participate in the Olympics held in different years?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0
- 1 
- 2
- 3

In [17]:
# 2
times = data[(data['Name']=='John Aalberg')]['Year'].drop_duplicates().count()
print(times)

2

__6. How many gold medals in tennis did sportspeople from the Switzerland team win at the 2008 Olympics? Count every medal from every sportsperson.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 0
- 1 
- 2
- 3

In [20]:
# 2
medals = data[(data['Medal']=='Gold')&(data['Team']=='Switzerland')&(data['Year']==2008)&(data['Sport']=='Tennis')]['Name'].count()
print(medals)

2

__7. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes
- No

In [23]:
# Yes
spainmedals = data[(data['Medal']!='NaN')&(data['Team']=='Spain')&(data['Year']==2016)]['Name'].count()
print("Spain: {}".format(spainmedals))
italymedals = data[(data['Medal']!='NaN')&(data['Team']=='Italy')&(data['Year']==2016)]['Name'].count()
print("Italy: {}".format(italymedals))

Spain: 353
Italy: 395

__8. What age category did the fewest and the most participants of the 2008 Olympics belong to?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45) and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [5]:
# [45-55] and [25-35) correspondingly
# fewest
a = data[(data['Year']==2008)&(data['Age']>=45)&(data['Age']<=55)]['Name'].drop_duplicates().count() #[45-55]
b = data[(data['Year']==2008)&(data['Age']>=35)&(data['Age']<45)]['Name'].drop_duplicates().count() #[35-45)
print("[45-55] {}".format(a))
print("[35-45) {}".format(b))
print('')

# most
c = data[(data['Year']==2008)&(data['Age']>=25)&(data['Age']<35)]['Name'].drop_duplicates().count() #[25-35)
d = data[(data['Year']==2008)&(data['Age']>=15)&(data['Age']<25)]['Name'].drop_duplicates().count() #[15-25)
e = data[(data['Year']==2008)&(data['Age']>=35)&(data['Age']<45)]['Name'].drop_duplicates().count() #[35-45)
print("[25-35) {}".format(c))
print("[15-25) {}".format(d))
print("[35-45) {}".format(e))

[45-55] 78
[35-45) 630

[25-35) 5376
[15-25) 4783
[35-45) 630

__9. Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [31]:
# Yes. Yes
atlanta = data[(data['Season']=='Summer')&(data['City']=='Atlanta')]['Year'].drop_duplicates()
print("Atlanta {}".format(atlanta))
squaw = data[(data['Season']=='Winter')&(data['City']=='Squaw Valley')]['Year'].drop_duplicates()
print("Squaw {}".format(squaw))

Atlanta 32    1996
Name: Year, dtype: int64
Squaw 83    1960
Name: Year, dtype: int64

__10. What is the absolute difference between the number of unique sports at the 1986 Olympics and 2002 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 3 
- 10
- 15
- 27

In [33]:
# 15
# no. of unique sports in 1986 olympics
ol1986 = data[(data['Year']==1986)]['Sport'].drop_duplicates().count()
# no. of unique sports in 2002 olympics
ol2002 = data[(data['Year']==2002)]['Sport'].drop_duplicates().count()
print(ol1986 - ol2002)

-15

That's it! Now go and do 30 push-ups! :)